body {
    background-image: url('loki4.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px #770909;
  }
  