body {
    background-image: url(crop2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  form {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px 20px 20px ;
    background-color: rgba(94, 184, 207, 0.5);
    border-radius: 10px;
  }

  input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;

  }

  input[type="submit"] {
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
    /* border: 2px  bold gold ; */
    background-color:#35b602 ;
    border:none;
    color: #fff;
    cursor: pointer;
  }
/* 
  #sumbit input:hover {
    color: #5fb43e;
  }
   */
  label {
    font-size: 16px;
    margin-top: 20px;
    display:  block;
    
  }